.coding-examples {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4%;

    h2 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: $accent-blue;
        position: relative;
        // background-color: pink;
    }

    p {
        font-size: 1.1rem;
        color: $text-light;
    }

}

@media (min-width: 768px) {
    .coding-examples {
        max-width: 1200px;
        // margin-left: $sidebar-width; // Push content to the right of the sidebar
        // width: calc(100% - $sidebar-width);
        padding: 10% 0;
    }
}