.contact-section {
  font-family: sans-serif;
  padding: 4% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: $accent-blue;
    position: relative;
    // background-color: pink;
  }

  .contact-container {
    display: grid;
    grid-template-columns: 1fr; // Stacked on mobile
    gap: 50px;

    @media (min-width: 900px) {
      grid-template-columns: 1fr 2fr; // 2 columns on desktop
    }
  }

  .contact-info {
   h3 {
    // margin: 15px 0;
    font-size: 1.6rem;
    align-self: center;
    margin-bottom: 10px;
  }


    p {
      color: $text-muted;
      line-height: 1.6;
      margin-bottom: 25px;
    }

    .contact-details {
      margin-bottom: 25px;

      p {
        font-size: 1rem;
        font-weight: 400;


        span {
          // display: block;
          font-size: 1rem;
          font-weight: 700;
          color: $text-navy;
          text-decoration: none;
          // margin-bottom: 5px;

         
        }
      }
    }
  }

  .contact-form {
    .form-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;

      input,
      textarea {
        background-color: $input-bg;
        border: none;
        border-radius: 4px;
        padding: 15px;
        font-size: 1rem;
        width: 100%;
        outline: none;

        &::placeholder {
          color: #888;
        }
      }

      textarea {
        height: 150px;
        resize: vertical;
      }

      .full-width {
        grid-column: span 2; // Spans across both columns
      }

      // On mobile, first and last name should also be full width
      @media (max-width: 600px) {
        grid-template-columns: 1fr;

        input,
        textarea,
        .full-width {
          grid-column: span 1;
        }
      }
    }

    .submit-btn {
      margin-top: 20px;
      background: transparent;
      border: 2px solid $text-navy;
      color: $text-navy;
      padding: 12px 45px;
      font-size: 1.1rem;
      font-weight: 700;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: $text-navy;
        color: white;
      }
    }
  }
}

@media (min-width: 768px) {
  .contact-section {
    max-width: 1200px;
    // margin-left: $sidebar-width; // Push content to the right of the sidebar
    // width: calc(100% - $sidebar-width);
    padding: 10% 0;
  }
}