$primary-color: #33b5e5; // The light blue 'S' logo color
$text-dark: #333;
$text-light: #777;
$bg-sidebar: #ffffff;
$sidebar-width: 200px;
$font-main: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family: 'Inter', sans-serif;


$bg-color: #ffffff;
$text-color: #555555;
$active-link-color: #333333;
$accent-blue: #0ea5e9; // Matches the blue-ish color in 'S' and active state
$transition: all 0.3s ease;

// content
$logo-blue: #6cb6d1;

// project
$primary-blue: #6cb6d1;
// $text-dark: #333645; // The navy-ish dark color in the titles
$text-muted: #7e8188;

// contact
$text-navy: #333645;
$input-bg: #dbe0e2; // Light grey from your image
$text-muted: #555;

$small-device : 576px;
$medium-device : 768px;
$large-device : 992px;
$extra-large-device : 1200px;